{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <link rel="stylesheet" href="{% static 'css/style.css' %}" />
   <title>{% block title %}Voca Libre{% endblock %}</title>
</head>
<body>

<div class="haut">
  <div class="contenu_haut">
  	<a href="{% url "choose_language" %}" alt="Home" title="Home"><img src="{% static 'image_look/logo.png' %}" alt="voca libre" class="logo">
  	<h1>Voca Libre</a></h1>
  </div>
  	<div style="clear:both; height:1px;"></div>
</div>

<div class="contenu">
{% block contengut %}

{% endblock %}



</div>


</body>
</html>    
