{% extends "base.html" %}
{% load static %}
{% block languages %}
{% if langAprLabel != "" %}Learn {{ langAprLabel }} <a href="{% url "choose_language" %}" alt="Choose language" title="Choose language">&#8627;change{% endif %}
{% endblock %}

{% block contengut %}

<h2>Choose the language you want the translations in</h2>

<ul class="listlang">
{% for language in listLanguages %}
	<li><a href="{% url "choose_subject" langApr language.0  %}" alt="Learn {{ language.1 }}" title="Learn {{ language.1 }}">{{ language.1|capfirst }}</a></li>
{% endfor %}
</ul>

{% endblock %}
