{% extends "base.html" %}
{% load static %}
{% block languages %}
{% if langAprLabel != "" %}Learn {{ langAprLabel }}{% if langUtLabel != "" %} in {{ langUtLabel }}{% endif %} <a href="{% url "choose_language" %}" alt="Choose language" title="Choose language">&#8627;change{% endif %}
{% endblock %}

{% block contengut %}

<h2>Choose your subject</h2>
{% if listSubjects|length == "0" %}
	<p>Sorry, we don't have any subject for this language.</p>

{% endif %}

<div class="listWords">

		{% for cat in listSubjects %}
			{% if cat.1 != "" %}
		
				<div class="word">
						<a href="{% url "display_words" langApr langUt cat.0 %}" alt="Learn {{ cat.1 }}" title="Learn {{ cat.1 }}"><h3>{{ cat.1|capfirst }}</h3>
						
							<h4>{% if cat.2 != "" %}({{ cat.2|capfirst }}){% endif %}</h4>
						
						<img src="{{ cat.3 }}"></a>

				</div>
			{% endif %}
		{% endfor %}
</div>

{% endblock %}
