{% extends "base.html" %}
{% load static %}

{% block contengut %}

<h2>{{ nameSubjectApr|capfirst }}</h2>
<h3>{% if nameSubjectUt != "" %}({{ nameSubjectUt|capfirst }}){% endif %}</h3>

<div class="listWords">
		{% for word in listWords %}
		
	<div class="word">
			
			<h3>{{ word.0|capfirst }}</h3>
			<h4>{% if word.4 != "" %}({{ word.4}}){% endif %}</h4>
			<img src="{{ word.1 }}">
			
			{% if word.2 != "" %}
				<audio controls="controls">
				  <source src="{{ word.2 }}" type="audio/{{ word.3 }}">
				  Votre navigateur ne prend pas en charge l'élément <code>audio</code>.
				</audio>
				
			{% endif %}
	</div>
		{% endfor %}
</div>

{% endblock %}
