{% extends "base.html" %}
{% load static %}

{% block contengut %}

<div class="cadre">
<p><b>Voca Libre</b> is a tool to learn vocabulary in a lot of languages. It displays cards with a word, a picture, and often a translation and a sound.</p>
<p>All those cards are generated automatically from <a href="https://www.wikidata.org" alt="Wikidata" title="Wikidata" class="structure" target="_blank">Wikidata</a> items, <a href="https://commons.wikimedia.org" alt="Wikimedia Commons" title="Wikimedia Commons" class="structure" target="_blank">Wikimedia Commons</a> pictures and <a href="https://lingualibre.fr" alt="Lingua Libre" title="Lingua Libre" class="structure" target="_blank">Lingua Libre</a> records.</p>
</div>

<h2>Choose the language you want to learn</h2>

<ul class="listlang">

	<li>Français</li>
	<li>Français</li>
	<li>Français</li>
	<li>Français</li>
	<li>Français</li>
	<li>Français</li>
	<li>Français</li>
	<li>Français</li>
	<li>Français</li>
	<li>Français</li>
	<li>Français</li>
	<li>Français</li>
	<li>Français</li>

</ul>

{% endblock %}
